@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark *));

/* Improve native UI colors */
html { color-scheme: light; }
html.dark { color-scheme: dark; }
